<script defer src="https://cloud.umami.is/script.js" data-website-id="11eaa4f8-a35c-4436-af90-5cfc010b9a1f"></script>
<header class="site-header">
  <div class="site-header__inner">
    <a class="site-logo" href="/">Noonan</a>
    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="primary-navigation">Menu</button>
    <nav class="site-nav" id="primary-navigation">
      <ul class="site-nav__list">
        <li><a class="site-nav__link" data-nav-id="travel" href="/travel">Travel</a></li>
        <li><a class="site-nav__link" data-nav-id="noonisms" href="/work-with-me">Work With Me</a></li>
      </ul>
    </nav>
  </div>
</header>
